<hr>
<p>exercicio-data-binding works!</p>
<br><br>
<h2>Palavra : {{palavra}} - Cor: {{color}}</h2>
<br><br>


<input type="text" [value]="initialValue">
<br><br>

<button [disabled]="isDisabled">Cliquei aqui</button>
<br><br>

<p [attr.aria-label]=" isDisabled ? 'Texto desabilitado':accessibilitiTest">
    Um texto Qualquer...
</p>

<br><br>
<hr>
<h2>Exemplos Event Binding</h2>

<button (click)="onClick($event)">Clique aqui</button>

<br><br>

<input type="text" [value]="valorDoInput" (keyup)="digitouAlgo($event)" (mouseenter)="passouMouse()">
<br><br> Valor: {{valorDoInput}}
<hr>
<img [src]="getImageURL()">
<br><br>