<app-header [newTitleheader]="titleHeader"></app-header>

<app-home></app-home>

<app-exercicio-data-binding [palavra]="palavras" [color]="favoriteColor" (clicado)="eventoRecebido($event)">
</app-exercicio-data-binding>

<hr>
<br>

<app-exercicio-diretivas></app-exercicio-diretivas>
<hr>
<h2>Diretiva ngClass</h2>
<app-exercicio-ngclass></app-exercicio-ngclass>
<br><br><br><br>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<br><br><br><br>

<br><br><br><br>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<br><br><br><br>

<br><br><br><br>
<hr>

<br><br><br><br><br><br><br><br><br><br><br><br>


<app-footer></app-footer>